@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Passion+One');

.featured {
  display: block;
}

.img-holder {
  display: inline-block;
  width: 50%;
  vertical-align: bottom;
}

.img {
  vertical-align: top;
  width: 100%;
}

.text-wrapper {
  display: inline-block;
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
  vertical-align: bottom;
}

.title {
  display: inline;
  font-size: 34px;
  line-height: 1em;
  margin: 0;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
}

.preview {
  display: inline;
}

.read-more {
  display: block;
  margin-top: 1%;
  text-align: center;
  color: #FAFAFA;
  font-size: 28px;
  background-color: #343434;
  padding: 5%;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Passion One', cursive;
}
